<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.paintshopping.core.mapper.CartMapper">
	<resultMap type="com.paintshopping.model.CartModel" id="CartResultMap">
		<id column="cart_id" jdbcType="INTEGER" property="cartId" />
		<result column="cart_user_id" jdbcType="INTEGER" property="cartUserId" />
		<result column="cart_created_date" jdbcType="VARCHAR" property="cartCreatedDate" />
		<result column="cart_coupon_id" jdbcType="INTEGER" property="cartCouponId" />
		<result column="cart_status" jdbcType="VARCHAR" property="cartStatus" />
		<association  javaType="com.paintshopping.model.CouponModel" property="cartCoupon">
			<id column="coupon_id" jdbcType="INTEGER" property="couponId" />
			<result column="coupon_code" jdbcType="VARCHAR" property="couponCode" />
			<result column="coupon_title" jdbcType="VARCHAR" property="couponTitle" />
			<result column="coupon_description" jdbcType="VARCHAR" property="couponDescription" />
			<result column="coupon_type" jdbcType="VARCHAR" property="couponType" />
			<result column="coupon_type_id" jdbcType="INTEGER" property="couponTypeId" />
			<result column="coupon_discount_percent" jdbcType="REAL" property="couponDiscountPercent" />
			<result column="coupon_minimum" jdbcType="INTEGER" property="couponMinimum" />
			<result column="coupon_amount" jdbcType="INTEGER" property="couponAmount" />
			<result column="coupon_started_date" jdbcType="VARCHAR" property="couponStartedDate" />
			<result column="coupon_expired_date" jdbcType="VARCHAR" property="couponExpiredDate" />
			<result column="coupon_limit_per_user" jdbcType="SMALLINT" property="couponLimitPerUser" />
			<result column="coupon_status" jdbcType="VARCHAR" property="couponStatus" />
		</association>
		<collection property="cartItems" ofType="com.paintshopping.model.CartItemsModel" >
			<id column="cart_items_id" jdbcType="INTEGER" property="cartItemsId" />
			<result column="cart_paint_id" jdbcType="INTEGER" property="cartPaintId" />
			<result column="cart_paint_quantity" jdbcType="SMALLINT" property="cartPaintQuantity" />
			<result column="cart_paint_price" jdbcType="INTEGER" property="cartPaintPrice" />
			<result column="cart_items_created_date" jdbcType="VARCHAR" property="cartItemsCreatedDate" />
			<result column="cart_id" jdbcType="INTEGER" property="CartId" />
			<result column="cart_items_coupon_id" jdbcType="INTEGER" property="cartItemsCouponId" />
			<result column="cart_items_invite_id" jdbcType="INTEGER" property="cartInviteId" />
			<association javaType="com.paintshopping.model.PaintModel" resultMap="com.paintshopping.core.mapper.PaintMapper.NestedPaintResultMap" property="cartPaint" />
			<association property="cartItemsCoupon" javaType="com.paintshopping.model.CouponModel">
				<id column="coupon_paint_id" jdbcType="INTEGER" property="couponId" />
				<result column="coupon_paint_code" jdbcType="VARCHAR" property="couponCode" />
				<result column="coupon_paint_title" jdbcType="VARCHAR" property="couponTitle" />
				<result column="coupon_paint_description" jdbcType="VARCHAR" property="couponDescription" />
				<result column="coupon_paint_type" jdbcType="VARCHAR" property="couponType" />
				<result column="coupon_paint_type_id" jdbcType="INTEGER" property="couponTypeId" />
				<result column="coupon_paint_discount_percent" jdbcType="REAL" property="couponDiscountPercent" />
				<result column="coupon_paint_minimum" jdbcType="INTEGER" property="couponMinimum" />
				<result column="coupon_paint_amount" jdbcType="SMALLINT" property="couponAmount" />
				<result column="coupon_paint_started_date" jdbcType="VARCHAR" property="couponStartedDate" />
				<result column="coupon_paint_expired_date" jdbcType="VARCHAR" property="couponExpiredDate" />
				<result column="coupon_paint_limit_per_user" jdbcType="SMALLINT" property="couponLimitPerUser" />
				<result column="coupon_paint_status" jdbcType="VARCHAR" property="couponStatus" />
			</association>
			<association property="cartInviteCode" javaType="com.paintshopping.model.InviteCodeModel">
				<id column="invite_id" jdbcType="INTEGER" property="inviteId" />
				<result column="invite_code" jdbcType="VARCHAR" property="inviteCode" />
				<result column="invite_title" jdbcType="VARCHAR" property="inviteTitle" />
				<result column="invite_description" jdbcType="VARCHAR" property="inviteDescription" />
				<result column="invite_type" jdbcType="VARCHAR" property="inviteType" />
				<result column="invite_product_id" jdbcType="INTEGER" property="inviteProductId" />
				<result column="invite_user_id" jdbcType="INTEGER" property="inviteUserId" />
				<result column="invite_amount" jdbcType="SMALLINT" property="inviteAmount" />
				<result column="invite_started_date" jdbcType="VARCHAR" property="inviteStartedDate" />
				<result column="invite_expired_date" jdbcType="VARCHAR" property="inviteExpiredDate" />
				<result column="invite_limit_per_user" jdbcType="VARCHAR" property="inviteLimitPerUser" />
				<result column="invite_status" jdbcType="VARCHAR" property="inviteStatus" />
			</association>
		</collection>
	</resultMap>
	
	<sql id="CartJoinTable">
		tblcart a
		inner join tblcoupon b on a.cart_coupon_id = b.coupon_id and b.coupon_type='CART'
		left outer join tblcartitems c on a.cart_id = c.cart_id
		inner join tblpaint p on c.cart_paint_id = p.paint_id
		left outer join tblcoupon d on c.cart_paint_id = d.coupon_type_id and d.coupon_type='PRODUCT'
		left outer join tblinvitecode e on c.cart_paint_id = e.invite_product_id
	</sql>
	
	<sql id="CartColumnList">
		a.cart_id, a.cart_user_id, a.cart_created_date, a.cart_coupon_id, a.cart_status,
		b.coupon_id, b.coupon_code, b.coupon_title, b.coupon_description, b.coupon_type, b.coupon_type_id, b.coupon_discount_percent, b.coupon_minimum, b.coupon_amount, b.coupon_started_date, b.coupon_expired_date, b.coupon_limit_per_user, b.coupon_status,
		c.cart_items_id, c.cart_paint_id, c.cart_paint_quantity, c.cart_paint_price, c.cart_items_created_date, c.cart_items_coupon_id, c.cart_items_invite_id,
		p.paint_id, p.paint_name, p.paint_color_code, p.paint_brand, p.paint_weight, p.paint_made, p.paint_price, p.paint_category_id, p.paint_supplier_id, p.paint_created_date, p.paint_updated_date, p.paint_visited, p.paint_status, p.paint_is_checked,
		d.coupon_id as coupon_paint_id, d.coupon_code as coupon_paint_code, d.coupon_title as coupon_paint_title, d.coupon_description as coupon_paint_description, d.coupon_type as coupon_paint_type, d.coupon_type_id as coupon_paint_type_id, 
		d.coupon_discount_percent as coupon_paint_discount_percent, d.coupon_minimum as coupon_paint_minimum, d.coupon_amount as coupon_paint_amount, d.coupon_started_date as coupon_paint_started_date, d.coupon_expired_date as coupon_paint_expired_date, 
		d.coupon_limit_per_user as coupon_paint_limit_per_user, d.coupon_status as coupon_paint_status,
		e.invite_id, e.invite_code, e.invite_title, e.invite_description, e.invite_type, e.invite_product_id, e.invite_user_id, e.invite_amount, e.invite_started_date, e.invite_expired_date, e.invite_limit_per_user, e.invite_status
	</sql>
	
	<select id="selectCartByUserId" resultMap="CartResultMap">
		select
			<include refid="CartColumnList" />
		from
			<include refid="CartJoinTable" />
		where a.cart_user_id = #{cartUserId, jdbcType=INTEGER} and a.cart_status = 'PENDING'
	</select>
	
	<!-- 
	<select id="getPendingCartId">
		select cart_id from tblcart where cart_user_id = #{cartUserId, jdbcType=INTEGER}
	</select>
	 -->
	 
	 <!-- 
	<insert id="insertCart" parameterType="com.paintshopping.model.CartModel">
		insert into tblcart
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="cartUserId!=0">
				cart_user_id
			</if>
				
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="cartUserId!=0">
				#{cartUserId, jdbcType=INTEGER}
			</if>
		</trim>
	</insert>
	 -->
	 <!-- 
	<update id="updateCart">
		update tblcart
		<set>
			<if test="cartCouponId!=null">
				cart_coupon_id = #{cartCouponId, jdbcType=INTEGER},
			</if>
		</set>
		where cart_id = #{cartId, jdbcType=INTEGER}
	</update>
	 -->
	<delete id="deleteCart">
		delete * from tblcart where cart_id = #{cartId, jdbcType=INTEGER} and cart_status = 'ORDERED'
	</delete>
</mapper>